<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <ConnectionString>
    server=172.16.3.212\MSSQLSERVER2019; user id=sa;password=Sapassword1; database=PBS_V40_DATA_TEST;
  </ConnectionString>
  <OutputMode>
    PDF
  </OutputMode>
  <LogRetentionDays>
    3
  </LogRetentionDays>
  <LineCount>
    10
  </LineCount>
  <Query>
    SELECT
    D.発注伝票番号
    FROM
    D発注FAX D
    INNER JOIN M仕入先 M
    ON D.仕入先コード = M.仕入先コード
    AND M.削除区分 = 0
    AND LEN(ISNULL(M.FAX, '')) >= 6
    INNER JOIN D発注 O
    ON D.発注伝票番号 = O.発注伝票番号
    AND O.削除区分 =0
    WHERE
    D.送信Mode = 0
    AND D.発注伝票番号 = 1001574
    GROUP BY
    D.発注伝票番号
  </Query>
  <FixedNotes>
    自動FAX
  </FixedNotes>

  <FTPServer>
    <!-- primary
    <Host>auto.lcloud.jp</Host>
    <Port>21</Port>
		<User>F000540000</User>
		<Password>Bn79PUnY</Password> 
    -->
    <!-- secondary
    <Host>auto.lcloud.jp</Host>
    <Port>22</Port>
		<User>F000540001</User>
		<Password>J9rtb6UR</Password> 
    -->
    <!-- test
    <Host>ftp://172.16.6.11/</Host>
    <Port>21</Port>
		<User>root</User>
		<Password>password</Password> 
    -->
    <Host>ftp://172.16.6.11/</Host>
    <Port>21</Port>
		<User>root</User>
		<Password>password</Password> 
  </FTPServer>
  
  <ProxyServer>
    <Host>1</Host>
    <Port>1</Port>
    <User></User>
    <Password></Password>
  </ProxyServer>
  
  <Request>
    <User>000540001</User>
    <Password>Wx8vncXR</Password>
    <MailAddress></MailAddress>
    <Retries></Retries>
    <RetryInterval></RetryInterval>
    <Jikan></Jikan>
    <Quality></Quality>
    <PaperSize></PaperSize>
    <Direction></Direction>
    <FontSize></FontSize>
    <FontType></FontType>

  </Request>
</Settings>